<% title 'Users' %>

<table class='table'>

  <thead>
    <tr>
      <th>Username</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to user.team.name, user.team %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'Sign Up', signup_path, :class => 'btn btn-default' unless logged_in? %>
